* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
.nvmrc text eol=lf
.github/CODEOWNERS text eol=lf

*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.py text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.sol text eol=lf
*.geojson text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.tif binary
*.tiff binary
*.zip binary
